USE [master]
GO
/****** Object:  Database [WebBanHang]    Script Date: 24/06/2022 11:23:32 ******/
CREATE DATABASE [WebBanHang]

GO
USE [WebBanHang]
GO
/****** Object:  Table [dbo].[Cutomers]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cutomers](
	[Id] [int] NOT NULL,
	[name] [nvarchar](200) NULL,
	[birthday] [date] NULL,
	[procvince] [nvarchar](200) NULL,
	[address] [ntext] NULL,
	[tel] [varchar](20) NULL,
	[district] [nvarchar](200) NULL,
	[sex] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupProduct]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Content] [ntext] NOT NULL,
	[images] [nvarchar](300) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Imageid] [int] NULL,
	[Image] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orderdetail]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderdetail](
	[Id] [int] NOT NULL,
	[Order_Id] [int] NULL,
	[Product_Id] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[Customer_id] [int] NULL,
	[Totalmoney] [float] NULL,
	[Date] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Detail] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[Sale] [float] NULL,
	[Date] [date] NULL,
	[Amount] [int] NULL,
	[Status] [bit] NULL,
	[GroupID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24/06/2022 11:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Rules] [int] NOT NULL,
	[Cutomers_id] [int] NOT NULL,
	[img] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cutomers] ([Id], [name], [birthday], [procvince], [address], [tel], [district], [sex]) VALUES (1, N'Lan', CAST(N'2000-12-09' AS Date), N'Cao Bằng', N'85/3/1 ,Phạm Văn Đồng phường 3, quận Bình thạnh', NULL, N'Huyện Hòa An', N'Male')
INSERT [dbo].[Cutomers] ([Id], [name], [birthday], [procvince], [address], [tel], [district], [sex]) VALUES (2, N'Mai', CAST(N'2000-01-01' AS Date), N'Bà Rịa - Vũng Tàu', N'4/3/1 ,Trường Chinh phường 1, quận Tan Phù', NULL, N'Huyện Châu Đức', N'true')
INSERT [dbo].[Cutomers] ([Id], [name], [birthday], [procvince], [address], [tel], [district], [sex]) VALUES (3, N'Phúc hậuDuong', CAST(N'2000-03-02' AS Date), N'Đắk Nông', N'8/6/1', NULL, N'Huyện Cư Jút', N'true')
GO
SET IDENTITY_INSERT [dbo].[GroupProduct] ON 

INSERT [dbo].[GroupProduct] ([ID], [Name], [Content], [images], [Status]) VALUES (1, N'Kem đánh răng', N'Kem đánh răng Coldgate', N'colgate.jpg', 1)
INSERT [dbo].[GroupProduct] ([ID], [Name], [Content], [images], [Status]) VALUES (2, N'Bánh bông lan', N'Bánh bông lan Solife', N'solite.jpg', 1)
INSERT [dbo].[GroupProduct] ([ID], [Name], [Content], [images], [Status]) VALUES (3, N'Bánh socola', N'Bánh socola Chocobie', N'chocopie.jpg', 1)
SET IDENTITY_INSERT [dbo].[GroupProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Img] ON 

INSERT [dbo].[Img] ([ID], [Imageid], [Image]) VALUES (1, 1, N'ponnie.jpg')
INSERT [dbo].[Img] ([ID], [Imageid], [Image]) VALUES (2, 1, N'ponnie1.jpg')
INSERT [dbo].[Img] ([ID], [Imageid], [Image]) VALUES (3, 1, N'ponnie2.jpg')
GO
SET IDENTITY_INSERT [dbo].[Img] OFF
GO
INSERT [dbo].[Orderdetail] ([Id], [Order_Id], [Product_Id], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Orderdetail] ([Id], [Order_Id], [Product_Id], [Quantity]) VALUES (3, 1, 4, 5)
INSERT [dbo].[Orderdetail] ([Id], [Order_Id], [Product_Id], [Quantity]) VALUES (4, 3, 4, 8)
GO
INSERT [dbo].[Orders] ([Id], [Customer_id], [Totalmoney], [Date], [Status]) VALUES (1, 3, 162000, CAST(N'2022-04-29T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Orders] ([Id], [Customer_id], [Totalmoney], [Date], [Status]) VALUES (3, 2, 80000, CAST(N'2022-04-29T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Orders] ([Id], [Customer_id], [Totalmoney], [Date], [Status]) VALUES (4, 3, 118100, CAST(N'2022-06-17T08:46:36.270' AS DateTime), 1)
GO
INSERT [dbo].[Product] ([Id], [Name], [Detail], [Price], [Sale], [Date], [Amount], [Status], [GroupID]) VALUES (1, N'Xúc xích ponnie', N'Xúc xích ponnie được làm từ thịt', 6000, 0.1, CAST(N'2022-04-29' AS Date), 1, 1, 1)
INSERT [dbo].[Product] ([Id], [Name], [Detail], [Price], [Sale], [Date], [Amount], [Status], [GroupID]) VALUES (2, N'Phô mai con bò cười', N'Thơm ngon, mềm mịn, 8 miếng vị truyền thống', 28000, 0.1, CAST(N'2022-04-29' AS Date), 1, 1, 1)
INSERT [dbo].[Product] ([Id], [Name], [Detail], [Price], [Sale], [Date], [Amount], [Status], [GroupID]) VALUES (3, N'Sữa tươi Cô gái Hà Lan', N'Sữa tươi cô gái Hà Lan, tươi như gái Hà Lan', 7000, 0.1, CAST(N'2022-05-29' AS Date), 1, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [Password], [Email], [Status], [Rules], [Cutomers_id], [img]) VALUES (1, N'huuchi', N'123456789', N'huuchi@gmail.com', 1, 0, 1, N'genshin.jpg')
INSERT [dbo].[User] ([ID], [Username], [Password], [Email], [Status], [Rules], [Cutomers_id], [img]) VALUES (2, N'anhtuan', N'123456789', N'anhtuan@gmail.com', 0, 0, 2, N'avata.jpg')
INSERT [dbo].[User] ([ID], [Username], [Password], [Email], [Status], [Rules], [Cutomers_id], [img]) VALUES (3, N'phuchau', N'19011901', N'phuchau164@gmail.com', 1, 0, 3, N'9.jpg')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4EA623D8F]    Script Date: 24/06/2022 11:23:33 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Img]  WITH CHECK ADD  CONSTRAINT [FK_Img] FOREIGN KEY([Imageid])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Img] CHECK CONSTRAINT [FK_Img]
GO
ALTER TABLE [dbo].[Orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Orderdetail] CHECK CONSTRAINT [FK_OrderDetail_Orders]
GO
ALTER TABLE [dbo].[Orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Orderdetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cutomers] FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Cutomers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cutomers]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_GroupProduct] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupProduct] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_GroupProduct]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_user_cutomers] FOREIGN KEY([Cutomers_id])
REFERENCES [dbo].[Cutomers] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_user_cutomers]
GO
USE [master]
GO
